# Dense/Light Gas Settings
GasBuoyancyMode = 0
UseDenseGasMicroSpray = true
AmbientTempK = 293.15
GasTempK = 293.15
GasMolWeight = 70.9
GasDensityRatio0 = 2.4
InitialCloudDepth = 1.0
InitialCloudRadius = 1.0